.side-bar {
    width: 368px;
    border: 2px solid #808080;
    min-height: 100vh;
    background: #fdffff;
  }
  
  .side-bar-nav {
    padding: 1.5rem 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #808080;
    border-bottom: 3px solid #00b87c;
  }
  
  .nav-link {
    text-decoration: none;
    color: #808080;
    font-weight: 400;
    padding-bottom: 0.7em;
  }
  
  .active {
    color: #00b87c;
    border-bottom: 4px solid #00b87c;
  }
  
  