* {
  margin: 0;
}

.side-bar {
  /* width: 368px; */
  border: 2px solid #bebcbc;
  min-height: 100vh;
  background: #fdffff;
}

.side-bar-nav {
  margin: 0;

  padding: 1.8rem 2rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: #808080;
  border-bottom: 3px solid #00b87c;
}

.nav-link {
  text-decoration: none;
  color: #808080;
  font-weight: 400;
  padding-bottom: 0.7em;
  margin: 0;
  transition: 0.3s all linear;
}

.active {
  color: #00b87c;
  position: relative;
  border-bottom: 4px solid #00b87c;
}

/* .active::before {
  content: "jjjjj";
  position: absolute;
  height: 4px;
  width: 20rem;
  background: #00b87c;
} */
