main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    /* border: 2px solid red; */
  }
  
  #chessboard_container {
    width: 70%;
    box-sizing: border-box;
    font-size: 5rem;
    height: 100%;
  }
  
  #side_container {
    box-sizing: border-box;
    border-left: 8px solid #C9C5C9;
    width: 30%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    
  }

  .dummy{
    /* overflow-y: scroll; */
    height: 70vh;
  }
  
/* commented out, when we insert the comments from the DB uncomment*/

  /* .dummy::-webkit-scrollbar {
    width: 8px;
    background-color:#F3F1F1; 
  }
  
  .dummy::-webkit-scrollbar-thumb {
    background-color: #C9C5C9;
    border-radius: 10px;
    height: 20px;
  } */

  .gameheader-container{
    font-size: 0;
  }
  
  .exit_btn_container {
    padding: 3rem 1.2rem;
    width: 100%;
    margin: 1.5rem auto;
    border-top: 0.2rem solid #C9C5C9;
  }

  #side_container .title {
    width: 100%;
    background-color: #00b87c;
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 1.5rem;
  }


  
  @media only screen and (max-width: 1050px) {
    main {
      flex-direction: column;
    }
    #chessboard_container {
      width: 100%;
    }
    #side_container {
      width: 100%;
      border: none;
    }
  }