
.chessboard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .chessboard #startPos{
        width: calc(60% - 5px);
    }
}