* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mini-board{
 position: absolute;
 top: 0;
 width: 100%;
 bottom: 0;
}

.board-image {
  height: 100%;
  width: 100%;
}
img{
  width: 100%;
  height: 100%;
}

.playerProfile {
  display: flex;
  /* height: 32px; */
  align-items: center;
  position: relative;
}

.profile-image {
  background: url("../../assets/people.png");
  height: 20.475000381469727px;
  width: 20.475000381469727px;

  border-radius: 0px;
}

.profile-image-bg {
  background: #acffe6;
  position: absolute;
  z-index: -20;
  height: 20.475000381469727px;
  width: 20.475000381469727px;

  border-radius: 50px;
}

.playerProfile p {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.asideBar {
  display: flex;
  height: 4rem;
}

.topBar {
  justify-content: flex-start;
  padding-left: 3px;
}

.bottomBar {
  justify-content: flex-end;
  padding-right: 3px;
}
.asideBar p {
  padding-left: 4px;
}

.join-button {
  padding: 7px 0px !important;
  height: 32px;
  width: 128px;
  background-color: #00b87c;
  border-radius: 0px;

  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;

  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */

  background: #00b87c;
}

.bottomBar .join-button {
  align-self: flex-end;
}
