* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.mini-board {
  height: 34.8rem;
  width: 26.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px;
}

.board-image {
  /* height: 26.14rem;
  width: 26.04rem; */
  border-radius: 0px;
}

.playerProfile {
  display: flex;
  /* height: 32px; */
  align-items: center;
  position: relative;
}

.profile-image {
  background: url("../../assets/people.png");
  height: 2.05rem;
  width: 2.05rem;

  border-radius: 0px;
}

.profile-image-bg {
  background: #acffe6;
  position: absolute;
  z-index: -20;
  height: 2.05rem;
  width: 2.05rem;

  border-radius: 50%;
}

.playerProfile p {
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
}

.asideBar {
  display: flex;
  height: 4.15rem;
}

.topBar {
  justify-content: flex-start;
}

.bottomBar {
  justify-content: flex-end;
}

.topBar .playerProfile {
  padding-left: 0.3rem;
}

.bottomBar .playerProfile {
  padding-right: 0.3rem;
}

.asideBar p {
  padding-left: 0.4rem;
}

.mini-board .join-button {
  padding: 0.7rem 0rem !important;
  height: 3.2rem;
  width: 12.8rem;
  background-color: #00b87c;
  font-family: Lato;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 0rem;
}

.bottomBar a {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
