* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.5rem;
}

button {
  padding: 2rem 6rem;
  border: none;
  color: white;
  font-size: 1.8rem;
  border-radius: 5rem;
  background: #25364b;
}

button:hover {
  background: #121a24;
  cursor: pointer;
  transition: background 0.5s ease 0.2s;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  padding: 1rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
.color{
  flex-basis: 33.33%;
  padding-top: 3rem;
  height: 50%;
}
.one, .two{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top:none;
  border-left:none;
}
.three{
  border-right: none;
  border-bottom: 1px solid black;
  border-top:none;
  border-left:none;
}
.four, .five{
  border-right: 1px solid black;
  border-bottom: none;
  border-top:none;
  border-left:none;
  padding-top: 6rem;
}
.six{
  padding-top: 6rem;
}
.box{
  width:85%;
  height: 90%;
  background-color: lightblue;
  margin: 0 auto 0 auto;
}

.app__container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 3rem 6rem;

}

@media screen and (max-width: 933px) {
  nav {
    text-align: center;
    padding-bottom: 2rem;
  }
  #logo {
    padding: 1rem;
  }
  html {
    font: size 50%;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (min-width:768px) and (max-width: 900px){
  .color{
    flex-basis: 50%;
  }
  .two,.four{
    border-right: none;
  }
  .three{
    border-right: 1px solid black;
    padding-top: 6rem;
  }
  .six{
    border-top: 1px solid black;
  }
}

@media (max-width: 767px){
  .app__container{
    padding: 3rem 3rem;
  }
  .color{
    flex-basis: 100%;
  }
  .box{
    width: 50%;
  }
  .one{
    border-right: none;
    border-bottom: none;
  }
  .two,.three,.four,.five, .six{
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}

@media (max-width: 500px){
.box{
  width: 70%;
}
}
