<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta equiv="X-UA-Compatible" content="ie=edge">
  <title>Chess Plugin Root</title>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at //github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="//cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at //content-security-policy.com/#directive
  -->
  <!-- <meta equiv="Content-Security-Policy" content="default-src 'self'  localhost:*; script-src 'unsafe-inline' 'unsafe-eval'  localhost:*; connect-src  localhost:* ws://localhost:*; style-src 'unsafe-inline' ; object-src 'none';"> -->
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at //github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - //github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - //github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at //single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "//cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "//cdn.jsdelivr.net/npm/react@16.13.1/umd/react.production.min.js",
        "react-dom": "//cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js",
        "@zuri/root-config": "//chess.zuri.chat/zuri-root-config.js",
        "@zuri/zuri-plugin-chessboard": "//chess.zuri.chat/zuri-zuri-plugin-chessboard.js",
        "@zuri/utilities": "//zuri.chat/zuri-utilities.js",
        "@zuri/plugin-header": "//zuri.chat/zuri-plugin-header.js"
      }
    }
  </script>
  <link rel="preload" href="//cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@single-spa/welcome": "//unpkg.com/single-spa-welcome/dist/single-spa-welcome.js",
          "@zuri/root-config": "//chess.zuri.chat/zuri-root-config.js",
          "@zuri/zuri-plugin-chessboard": "//chess.zuri.chat/zuri-zuri-plugin-chessboard.js",
          "@zuri/utilities": "//zuri.chat/zuri-utilities.js",
          "@zuri/plugin-header": "//zuri.chat/zuri-plugin-header.js"
        }
      }
    </script>
  <% } %>

  <!-- If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
  Learn more about why at //single-spa.js.org/docs/ecosystem-angular/#zonejs -->
  <!-- <script src="//cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="//cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
    <script src="//cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="//cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
    <script src="//cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .landing-page .landing-image {
    width: 100%;
    height: 100%;
  }

  .landing-page .landing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .landing-page .landing-content {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
  }

  .landing-page .landing-content h1 {
    margin-bottom: 3rem;
    color: whitesmoke;
    font-size: 2rem;
  }

  .landing-page .landing-content button {
    width: 50%;
    height: 5rem;
    padding: .3rem .1rem;
    border: 2px solid rgba(0, 21, 29, 0.733);
    color: white;
    background: rgba(0, 21, 29, 0.733);
    outline: none;
    border-radius: 2rem;
    font-size: 1.2rem;
  }

  .landing-page .landing-content button:hover {
    border: 3px solid rgba(0, 21, 29, 0.733);
    color: whitesmoke;
    background: rgba(0, 0, 0, 1);
    transition: none;
    outline: none;
  }

  @media (min-width: 320) and (max-width: 767) {
    .landing-page .landing-content h1 {
      font-size: 1rem;
    }
  }
</style>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@zuri/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>