* {
  margin: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background: #fdffff;
  min-width: 30%;
  border-left: 5px solid #dbdbdb;
  border-bottom: 5px solid #dbdbdb;

}

.side-bar-nav {
  height: 7vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  background-color: #00b87c;
  /* margin-left: .5rem; */
}

/* .nav-link:hover{
    color: unset !important;
  } */

.navLink > h2 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s all linear;
  font-size: 2rem !important;
}

/* .active {
    color: white;
  } */

.close {
  margin-top: 0.6rem;
  font-weight: 900;
  cursor: pointer;
}

.closeIcon:hover path {
  stroke: #d1dada !important;
}
.closeIcon path {
  stroke: #ffffff !important;
}

#chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chatContainer {
  width: 100%;
  overflow-y: auto;
  padding: 1.5rem 2rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.chatWrapperContainer {
      box-sizing: border-box;
      flex: 1;
      overflow-y: auto;
      padding-bottom: 8px;
      -webkit-user-select: text;
      width: 100%;
}

.chatWrapper {
  width: 100%;
  background: white;
  margin: 1rem 0;
}

.specHead {
  display: flex;
  align-items: center;
}

.specNameTime {
  width: 100%;
  padding-left: 4.7rem;
  padding-right: 2rem;
  margin-top: -1.3rem;
}
.spectatorName {
  font-size: 15px;
  font-weight: 900;
  margin-right: 1rem;
  line-height: normal;
}
.specInfo {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  width: 80%;
  padding-bottom: 1.2rem;
}
.time-muted {
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
}
.specAvi {
  background-color: rgb(243, 245, 212);
  border-radius: 30%;
  margin: 0.5rem;
  height: 3rem;
  max-width: 4rem;
}
.spectatorMessage {
  font-size: 15px;
  width: 100%;
  word-wrap: break-word;
  /* line-height: 2rem; */
  font-weight: normal;
  color: rgb(63, 63, 63);
}

.emptyComment {
  width: 100%;
  padding: 2rem;
}
.emptyComment > svg {
  width: 100%;
  text-align: center;
  height: auto;
}

.emptyComment > h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.emptyComment > p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.chatInputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 0 1rem 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  position: sticky;
  top: 0;
  bottom: 0;  
  background-color: #fff;
}

.chatInputForm > input {
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
  font-size: 16px;
  color: rgb(68, 68, 68);
}

input::placeholder {
  color: rgb(228, 227, 227);
  font-size: 18px;
}

.inputIcons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0.3rem 0;
}
.inputIconsleft > svg,
.inputIconsright > svg {
  margin-right: 0.8rem;
  width: 2rem;
  cursor: pointer;
}

.feather {
  border-right: 2px solid rgb(197, 196, 197);
  width: 3rem !important;
}

.submit:hover {
  stroke: rgb(224, 223, 224);
  fill: white;
  background-color: #00b87b93;

  border: 0.5px solid #19d395;
}

.btn-Exit {
  position: relative;
  bottom: 5%;
  width: inherit;
  border-radius: 4px;
  border: 0.5px solid #b8003c;
  background-color: #fff;
  color: #bb003c;
}

.icon-down {
  border-left: 2px solid rgb(196, 195, 196);
  width: 3rem !important;
}

@media only screen and (max-width: 420px) {
  .chatContainer {
    width: 100%;
    overflow-y: auto;
    font-family: "Lato", sans-serif;
    padding: 1.5rem 1rem 1rem 0.5rem;
  }
  .navLink {
    font-size: 1.8rem !important;
  }
}
@media only screen and (max-width: 320px) {
  .inputIconsleft > svg,
  .inputIconsright > svg {
    width: 1rem;
  }
}
