* {
  margin: 0;
}

.side-bar {
  /* width: 368px; */

  display: flex;
  flex-direction: column;
   /* border-left: 1px solid #bebcbc;  */
  min-height: 100%;
  background: #fdffff;
}

.side-bar-nav {
  margin: 0;
  padding: 1rem 3rem 1rem 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #808080;
  background-color: #00b87c;
  margin-left: .5rem;
  height: 5rem;
}

/* .nav-link:hover{
  color: unset !important;
} */

.nav-link {
  text-decoration: none;
  color: #808080;
  font-weight: 400;
  padding-bottom: 0.7em;
  margin: 0;
  transition: 0.3s all linear;
}

.active {
  color: white;
}

.close {
  margin-top: .8rem;
  font-weight: 900;
  cursor: pointer;
}

.closeIcon:hover path {
  stroke: #d1dada !important;
}
.closeIcon path {
  stroke: #ffffff !important;
}


