@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chatContainer {
    width:100%;
    max-height: 70%;
    padding: 2rem;
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    position: relative;
}
.chatWrapper {
    width: 100%;
    line-height: 2rem; 
    background:white;
    display: flex;
    margin: 1rem 0;
}
.specNameTime {
 line-height: 3rem;
 margin: 0 0 1rem 2rem;
}
.spectatorName {
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: 1rem ;
}
.specInfo {
    display: flex;
}
.time-muted{
    color: gray;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.specAvi {
    background-color: rgb(215, 219, 150);
    margin:.5rem 1rem;
    max-height: 3rem;
    max-width: 4rem;
}
.spectatorMessage {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
}

.chatInputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.chatInputForm > input {
    height: 4rem;
    margin: 2rem auto;
    width: 85%;
}
.chatInputForm > button {
    margin: 2rem 1rem;
    width: 50%;
    margin: 0 auto;
}


