@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.chatContainer {
    width:100%;
    /* max-height: 70%; */
    /* padding: 2rem; */
    overflow-y: auto;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem 2rem 1rem 1rem;
    /* position: relative; */
}
.chatWrapper {
    width: 100%;
    /* line-height: 2rem;  */
    background:white;
    display: flex;
    margin: 1rem 0;
  
}
.specNameTime {
 /* line-height: 3rem; */
 margin: 0 .5rem;
 width: 80%;
}
.spectatorName {
    font-size: 15px;
    font-weight: 900;
    margin-right: 1rem ;
}
.specInfo {
    display: flex;
}
.time-muted{
    color: gray;
    font-size: 12px;
    text-transform: uppercase;
}
.specAvi {
    background-color: rgb(243, 245, 212);
    border-radius: 30%;
    margin:.5rem;
    height: 3rem;
    max-width: 4rem; 
}
.spectatorMessage {
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
    /* line-height: 2rem; */
    font-weight: normal;
    color: rgb(63, 63, 63);
}

.emptyComment {
    width: 100%;
    padding: 2rem;
} 
.emptyComment > img {
   width: 100%;
   text-align: center;
   height: auto;
}

.emptyComment > h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.emptyComment > p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}


.chatInputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 0 1rem 1rem;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
}

.chatInputForm > input {
    /* height: 4rem; */
    border: none;
    width: 100%;
    padding: .5rem 0;
    margin-bottom: 1rem;
    outline: none;
    font-size: 16px;
    color: rgb(68, 68, 68);
}

input::placeholder{
    color: rgb(228, 227, 227);
    font-size: 18px;
}


.inputIcons{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: .3rem 0;
}
.inputIconsleft > svg , .inputIconsright> svg{
    margin-right: .8rem;
    width: 2rem;
    cursor: pointer;
}

.feather {
    border-right: 2px solid rgb(197, 196, 197);
    width: 3rem !important;
}

.submit:hover {
    stroke: rgb(224, 223, 224);
    fill: white;
    background-color:#00b87b93 ;

    border: .5px solid #19d395;
}

.icon-down{
    border-left: 2px solid rgb(196, 195, 196);
    width: 3rem !important;
}

@media only screen and (max-width: 420px) {
    .chatContainer {
        width:100%;
        overflow-y: auto;
        font-family: 'Lato', sans-serif;
        padding: 1.5rem 1rem 1rem .5rem;   
    }
}
@media only screen and (max-width: 320px) {
    .inputIconsleft > svg , .inputIconsright> svg{
        width: 1rem;
    }
}



