/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); */


#alphabets .wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    height: 100%;
    place-items: center;
    color: rgb(205, 155, 73);
    background: rgb(61, 47, 25);
}
#alphabets .letters{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;   
    font-size: 13px;
}

@media(max-width:414px){
    #alphabets .letters{
        font-size: 10px;
        line-height: 1.5;
    }
}