.chesshome-container{
  overflow-x: hidden;
}
header {
  background: #00B87C;
  color: white;
}

.nav {
  min-height: 10vh;
  display: flex;
  width: 97%;
  padding: 1rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

#chesshome-search{
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid rgb(233, 232, 232);
 
}

#chesshome-flex{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#arrow-button{
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.chesshome-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chesshome-profileImg{
  position: relative;
}

.chesshome-profile{
  position: absolute;
  border-radius: 4px;
  top: 6%;
}

.chesshome-profile.profileOne{
  left: 2%;
  z-index: 1000;
}

.chesshome-profile.profileTwo{
  left: 21%;
  z-index: 500;
}

.chesshome-profile.profileThree{
  left: 41%;
}

.text-300{
  position: absolute;
  top: 15%;
  right: 5%;
  font-size: 16px;
  font-weight: bold;
  z-index: 100;
  color: #000;
}
.app__container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#pawnLogo{
  height: 20px;
}

.chesshome-rules-holder{
  height: 32px;
width: 100%;
margin: 2rem;
padding-right: 13rem;
text-align: right;
}

.chesshome-rules{
  height: 40px;
width: 208px;
border-radius: 4px;
padding: 5px 34px;
color:#00B87C;
background-color: #fff;
border: 1px solid #00B87C;

}

.mini-one,
.mini-two,
.mini-three {
  display: flex;
  flex-basis: 33.33%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  justify-content: center;
}

.mini-four,
.mini-five,
.mini-six {
  display: flex;
  flex-basis: 33.33%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.mini-one,
.mini-two {
  border-right: 1px solid #5151512c;
  border-bottom: 1px solid #5151512c;
}
.mini-three {
  border-bottom: 1px solid #5151512c;
}
.mini-four,
.mini-five {
  border-right: 1px solid #5151512c;
}

@media screen and (max-width: 933px) {
  nav {
    text-align: center;
    padding-bottom: 2rem;
  }
  #logo {
    padding: 1rem;
  }
  .chesshome-rules-holder{
  margin: 2rem 0;
  padding-right: 0;
  text-align: center;
  }
}

@media (min-width:1100px){
  .chesshome-rules-holder{
    margin: 2rem 0;
    padding-right: 20rem;
    text-align: right;
    }
}
@media (max-width: 1100px) {
  .app__container {
    padding: 2rem 2rem;
  }

  .mini-one,
  .mini-two {
    border-right: none;
    border-bottom: none;
    flex-basis: 50%;
  }

  .mini-three,
  .mini-four,
  .mini-five,
  .mini-six {
    border-top: 1px solid #5151512c;
    border-right: none;
    border-bottom: none;
    border-left: none;
    flex-basis: 50%;
  }
  .mini-one,
  .mini-three,
  .mini-five {
    border-right: 1px solid #5151512c;
  }
}

@media (max-width: 767px) {
  .app__container {
    padding: 2rem 2rem;
  }

  .mini-one {
    border-right: none;
    border-bottom: none;
    flex-basis: 100%;
  }
  .mini-two,
  .mini-three,
  .mini-four,
  .mini-five,
  .mini-six {
    border-top: 1px solid #5151512c;
    border-right: none;
    border-bottom: none;
    border-left: none;
    flex-basis: 100%;
  }
}


