.main-game{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    padding: 0;
    /* height: 100vh; */
    width: 100%;
    }


.main-chess {
     width: 100%;
     max-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     /* margin-right:.5rem; */
     }

.main-chess > div > .main-header{
   width: 100%;
   
        
}

.main-chess > div > .main-header >.nav{
    padding: 1.5rem;
        
}


/* .main-chess > div > .main-header >.nav > .chesshome-headerRight {
    width: 7rem;
     } */

/* @media(max-width:1080px){    
   .main-chess > div > .main-header >.nav > .chesshome-headerRight {
       width: 25%;
   }
} */

.main-chess > div > .main-header >.nav > .chesshome-headerRight > .commentIcon {
    display: block;
    cursor: pointer;
}


.main-chess > div > .main-header >.nav > .chesshome-headerRight > .chesshome-profileImg {
    left: 1rem;
}

.main-chess .chessboard{
    /* border: 2px solid red;
    border-right: none; */
    width: 100%;
    /* height: 80vh; */
}
.main-game .side-bar{
    max-width: 30%;
    min-width: 30%;
    min-height: 100vh;
    /* margin-left: 2rem; */
    border-left: 5px solid #dbdbdb; 
}

@media (width: 1024px) {
    .main-game{
        flex-direction: column;
        padding: 0;
        height: 100% !important;
    }
    .main-game .side-bar{
        max-width: 100% !important;
    }
    
}

@media(max-width:768px){
    .main-chess {
        width: 100%;   
    }
    .main-game{
        flex-direction: column;
        padding: 0;
        height: 100%;
    }
    .main-game .side-bar{
        width: 100%;
        max-width: 100%!important;
        border: none;
        min-height: fit-content;
    }
    .main-game .chessboard{
        width: 100%;
    }
}

@media(max-width:576px){
    .main-game{
        flex-direction: column;
        height: 100%;
        padding:0;
    }

    .main-game .chessboard{
        border: none;
        padding:1.5rem 1rem 2rem 1rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .main-game .side-bar-nav{
        border-top: 3px solid #00b87c;
        width: 100%;
        margin: 0;
    }
}

@media(max-width:420px){
    .main-chess > div > .main-header >.nav >div > h1{
        font-size: 2rem;     
 } 
    .main-chess > div > .main-header >.nav >div > h1{
        font-size: 2rem;     
 } 
}
