.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    position: fixed;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxed {
    
}
.modal-box {
    position: relative;
    min-height: 30%;
    width: 50rem;
    height: 40rem !important;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 200;
    padding: 0 4rem;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.179);
    border-radius: 3px;
    animation: myAnim 1.7s ease 0s 1 normal forwards;


}


@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.modal-profile {
    margin-top: 9rem !important;
    
}

.modal-img {
    max-width: 100%;
    /* width: 10%; */
    display: flex;
    justify-content: center;
}    
.modal-img > img {
    max-width: 100%;
    object-fit: contain;
}    


.modal-content {
    width: auto !important;
    margin-top: .3rem !important;
    margin-bottom: 5rem !important;
}

@media only screen and (max-width: 600px) {
    .modal-box{
        max-width: 33rem;
        height: 45rem !important;
        padding: 0 1rem;
        border-radius: 12px;
    }

    .modal-img > img {
        max-width: 70%;
    }    


    .modal-content{
        margin-top: 1.6rem !important;
        margin-bottom: 0rem !important;
        
    }

    .modal-content > p{
        font-size: 1.6rem !important;
        
    }

    .modal-profile {
        margin-top: 7.9rem !important;
    }
}

@media only screen and (max-width: 350px) {
    .modal-box{
        max-width: 28rem;
        height: 25rem;
    }
}
