.center__piececolor{
    display: grid;
    place-content: center;
    margin-bottom: 20px;
}
.color__piececolor{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.color-tile__piececolor{
    display: flex;
    gap: 10px;
    position: fixed;
}
.black__piececolor{
    background: linear-gradient(184.01deg, rgba(61, 61, 61, 0.92) -104.08%, rgba(35, 35, 35, 0.959834) -0.32%, #040404 114.59%);
    border: 1px solid #fff;
}
.white__piececolor{
    background: linear-gradient(262.27deg, #FEFDFB -23.58%, #E4D2B4 18.19%);
    border: 1px solid #000;
}
.color__piececolor:hover{
    width: 22px;
    height: 22px;
}
.border__piececolor{
    border: 0.65px solid #FFFFFF;
    border-radius: 12px;
    padding: 30px 60px;
}
.line2__piececolor {
    position: absolute;
    top: 50%;
    left: -45%;
    width: 25px;
}
.line3__piececolor {
    position: absolute;
    top: 50%;
    left: 110%;
    width: 25px;
}