<<<<<<< HEAD
.modal{
    margin: 16vh auto;
    width: 456px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 
    0px 49.5165px 35.62px rgba(0, 0, 0, 0.0460133), 
    0px 24.8165px 16.4998px rgba(0, 0, 0, 0.034854), 
    0px 13.7293px 8.16739px rgba(0, 0, 0, 0.0269394), 
    0px 7.56423px 3.94388px rgba(0, 0, 0, 0.0201337), 
    0px 3.35772px 1.53069px rgba(0, 0, 0, 0.0128302);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.profile{
    margin-top: 97px;

}

.img{
    width: 85px;
    height: 80px;
    border-radius: 50%;
    background: #008B5E;
    margin: 0 auto;
    background-image: url('../../assets/People\ of\ Brooklyn\ Avatar.png');
}

.content{
    width: 308px;
    height: 48px;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0px;
    font-size: 20px;
    margin-top: 8px;
}

p{
    margin: 0px;
}

span{
   color: #008B5E; 
}

.request-challenge-btn{
    background: #27AE60;
    border-radius: 3px;
    width: 197px;
    height: 41px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;

}

.exit-btn{
    width: 128px;
    height: 41px;
    border: 1px solid #B8003C;
    box-sizing: border-box;
    border-radius: 3px;
    margin-left: 16px;
    color: #B8003C;
    background: #FFFFFF;
    cursor: pointer;
=======
.exit-button {
    border: 1px solid #E70B0B;
    box-sizing: border-box;
    border-radius: 4px;  
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    background-color: transparent;
    color: #E70B0B;
    padding: 1.5rem;
    width: 30rem;    
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
}

.exit-button:hover {
background-color: transparent;
}

.exit-button:after {
  content: "";
  background: #e70b0b88;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.exit-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.exit-button:focus { outline:0; }


@media only screen and (max-width: 600px) {
    .exit-button {
    font-size: 1.8rem;
    padding: 1.5rem;
    width: 20rem;    
    
}
>>>>>>> 95ce778e6a65feb2f0f40b6ced27c31d273ceef3
}