.comments_container {
  position: relative;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}

.comments_container .title {
  color: #00B87C;
  padding: 1.2rem;
  border-bottom: .2rem solid #00B87C;
  font-size: 2rem;
}

.comments_container .comments {
  padding: 1.2rem;
  font-size: 1.8rem;
  position: relative;
  height: 78vh;
  overflow: auto;
}

.comments_container .comments::-webkit-scrollbar {
  width: 8px;
  background-color: #F3F1F1;
}

.comments_container .comments::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border-radius: 10px;
}

.comments_container .text-muted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.9rem;
  width: 100%;
  text-align: center;
  color: #C1C1C1;
}

.comment_container {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 1.5rem;
}

.comment_container div div {
  margin-bottom: .8rem;
}

.comment_container img {
  width: 5rem;
  vertical-align: middle;
  height: auto;
  margin-top: -3rem;
  margin-right: .5rem;
}

.name {
  font-style: normal;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #3A3A3A;
  margin-right: .8rem;
}

.faded {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #C1C1C1;
  text-transform: uppercase;
}

.comment {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #3A3A3A;
}

@media only screen and (max-width: 600px) {
  .comments_container .title {
    border-top: .2rem solid #00B87C;
  }
}