.rules{
    width: 100%;
}

.rules .top{
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    width: 95%;
    justify-content: space-around;
    padding: 3rem 0;
    border-radius: .5rem;
    background: #00bb7c;
}

.rules .top .content{
    width: 80%;
    color: white;
}

.rules .top .pieces{
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
}

.rules .top .pieces img{
    width: 4.6rem;
    height: 6rem;
}

.rules .top .pieces .white img {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    transform: rotate(15deg);
}

.middle{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.rules .middle .carrier{
    width: 20rem;
    text-align: center;
    margin-right: 5rem;
    margin-left: auto;
    height: 25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules .middle .carrier .grey-space{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.rules .middle .carrier .grey-space img{
    width: 5rem;
    height: 6rem;
}

.rules .middle .carrier .grey-space .queen img, .rules .middle .carrier .grey-space .king img{
    width: 6rem;
    height: 7rem;
}

.rules .middle .carrier .grey-space .image, .rules .middle .carrier .grey-space .queen,.rules .middle .carrier .grey-space .king{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f3f3f3;
    width: 70%;
}

.rules .middle .carrier .white-space{
    height: 30%;
    width: 100%;
    text-align: center;
}

    .rules .middle .carrier .white-space p{
        font-size: 1.5rem;
    }

    .rules .middle .carrier .white-space h4, .rules .top .content h4{
        font-size: 2rem;
    }

    .rules .bottom{
        text-align: center;
        margin-top: 5rem;
    }

    .rules .bottom button{
        background: #1db286;
        border-radius: .3rem;
        color: white;
        width: 30%;
        height: 5rem;
        padding: .5rem 0;
        outline: none;
        border: none;
    }

    @media (min-width: 320px) and (max-width: 480px){
        

        .rules .top{
            padding: .2rem;
        }

        .rules .top .content{
            width: 75%;

        }


        .rules .top .content p{
            font-size: 1rem;
        }

        .rules .top .content h4{
            font-size: 1.2rem;
        }

        .rules .top .pieces{
            width: 20%;
            justify-content: center;
            align-items: center;
        }

        .rules .top .pieces img{
            width: 3rem;
            height: 4rem;
        }

    .rules .top .pieces .white img{
        right: .8rem;
        bottom: 1.5rem;
    }

    .rules .middle {
        width: 100%;
       justify-content: space-around;
       align-items: center;
        flex-direction: row;
        display: flex;
        text-align: center;
        
    }

    .rules .middle .carrier{
        width: 40%;
        margin: 1rem 0 2rem 0;

    }

    .rules .middle .carrier .grey-space{
        height: 50%;
    }

    .rules .middle .carrier .grey-space .image img, .rules .middle .carrier .grey-space .queen img, .rules .middle .carrier .grey-space .king img{
        width: 3rem;
        height: 3.5rem;
    }

    .rules .middle .carrier .whitespace p, .rules .middle .carrier .whitespace h4{
        font-size: 1rem;
    }

}

@media (width: 768px){
    .rules .top .pieces {
        align-items: center;
        justify-content: flex-start;
    }

    .rules .top .pieces .white img{
        left: 2rem;
        top: 5.5rem;
    }
}

@media (width: 1024px){
    .rules .top .pieces {
        align-items: center;
        justify-content: flex-start;
    }

    .rules .top .pieces .white img{
        right: 2rem;
        bottom: 1rem;
    }
}

@media (width: 1440px){
    .rules .middle .carrier{
        margin: 1rem auto 2rem auto;
    }
}