* {
  margin: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 88vh;
  background: #fdffff;
  min-width: 30%;
  /* border-left: 5px solid #dbdbdb;
  border-bottom: 5px solid #dbdbdb; */
  overflow: hidden;
  
}

/* .chatWrapperContainer::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .chatWrapperContainer {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
} */

.chatWrapperContainer::-webkit-scrollbar {
    width: 9px;
}
 
.chatWrapperContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7) ;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7); 
    border-radius: 5px;
}
 
.chatWrapperContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.809);
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.809); 
}

.side-bar-nav {
  height: 4.4em;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  background-color: #00b87c;
  /* margin-left: .5rem; */
}

/* .nav-link:hover{
    color: unset !important;
  } */

.navLink>h2 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: 0.2s all linear;
  font-size: 2rem !important;
}

/* .active {
    color: white;
  } */

/* .close {
  margin-top: 0.6rem;
  font-weight: 900;
  cursor: pointer;
} */

/* Ã */

#chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chatContainer {
  width: 100%;
  overflow-y: auto;
  padding: 1.5rem 2rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}

.chatWrapperContainer {
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 8px;
  user-select: text;
  -webkit-user-select: text;
  width: 100%;
}

/* .heartContainer { */
  /* position: absolute; */
/* } */
.heartContainer>img {
  position: fixed;
  visibility: hidden;
  transform: scale(1);
  width: 60px;
  height: auto;
  z-index: 1000;
}

@keyframes float {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(.5);
    bottom:40%;
    right: 30px;
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(.3);
  }
}
@keyframes sideways {
  0% {
    right: 0%;
  }
  100% {
    right: 30px;
  }
}
.heartContainer>img:nth-of-type(1) {
  right: 0%;
  animation: float 2s ease-in-out, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(2) {
  right: 0%;
  animation: float 1s ease-in-out .5s, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(3) {
  right: 0%;
  animation: float 2s ease-in-out .7s, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(4) {
  right: 0%;
  animation: float 2s ease-in .7s,;
}
.heartContainer>img:nth-of-type(5) {
  right:0%;
  animation: float 4s ease-out .8s, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(6) {
  right: 0%;
  animation: float 3s ease-in-out 1s;
}
.heartContainer>img:nth-of-type(7) {
  right:0%;
  animation: float 5s ease-in-out 1s, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(8) {
  right:0%;
  animation: float 3s ease-in-out 1.2s;
}
.heartContainer>img:nth-of-type(9) {
  right:0%;
  animation: float 1s ease-in 1.2s;
}
.heartContainer>img:nth-of-type(10) {
  right: 0%;
  animation: float 4s ease-in-out 1.2s;
}
.heartContainer>img:nth-of-type(11) {
  right:0%;
  animation: float 2s ease-in 1.2s, sideways 2s ease-in-out;
}
.heartContainer>img:nth-of-type(12) {
  right:0%;
  animation: float 3s ease-in-out 1.2s, sideways 2s ease-in;
}
.heartContainer>img:nth-of-type(13) {
  right:0%;
  animation: float 2s ease-in 1.2s;
}
.heartContainer>img:nth-of-type(14) {
  right: 0%;
  animation: float 4s ease-in-out 1s, sideways 3s ease-out;
}
.heartContainer>img:nth-of-type(15) {
  right:0%;
  animation: float 3s ease-in 3s, sideways 2s ease-in;
}
.chatWrapper {
  width: 100%;
  background: white;
  margin: 1rem 0 2rem 0;
}

.specHead {
  display: flex;
  align-items: center;
}

.specNameTime {
  width: 100%;
  padding-left: 4.7rem;
  padding-right: 2rem;
  margin-top: -1.3rem;
}

.spectatorName {
  font-size: 15px;
  font-weight: 900;
  margin-right: 1rem;
  line-height: normal;
}

.specInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
  width: 80%;
  padding-bottom: 1.2rem;
}

.time-muted {
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
}

.specAvi {
  background-color: rgb(243, 245, 212);
  border-radius: 30%;
  margin: 0.5rem;
  height: 3rem;
  max-width: 4rem;
}

.spectatorMessage {
  font-size: 15px;
  width: 100%;
  word-wrap: break-word;
  /* line-height: 2rem; */
  font-weight: normal;
  color: rgb(63, 63, 63);
}

.emptyComment {
  width: 100%;
  padding: 2rem;
}
.emptyComment > img {
  width: 100%;
  text-align: center;
  height: auto;
}

.emptyComment>h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.emptyComment>p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.chatInputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem  0;
  padding: 1rem 0 1rem 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.chatInputForm>input {
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
  font-size: 16px;
  color: rgb(68, 68, 68);
}

.heartIcon {
  position: absolute;
  display: flex;
  width: fit-content;
  right: 0;
  cursor: pointer;
}

.heartIcon>img {
  width: 25px;
  height: auto;
}

.heartIcon>span {
  position: relative;
  top: -10px;
  right: 8px;
  background-color: #fff;
  padding: .125rem;
  font-size: 12px;
  color: #FF5023;
}

input::placeholder {
  color: rgb(228, 227, 227);
  font-size: 18px;
}

.inputIcons {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0.3rem 0;
}

.inputIconsleft,
.inputIconsright {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.feather {
  width: 1.6em;
  /* margin-right: 1.2em;  */
  color: #bebebe;
}

.submit {
  width: 1.8em;
}

.submit:hover {
  fill: white;
  color: #00b87b93;
  border: 0.5px solid #19d395;
}

.btn-Exit {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  border-radius: 4px;
  border: 0.5px solid #b8003c;
  background-color: #fff;
  color: #bb003c;
}

.icon-down {
  /* border-left: 2px solid rgb(196, 195, 196); */
  margin-right: 1em;
  width: 1.6em;
}

@media only screen and (max-width: 768px) {
  .side-bar {
    border-left: none;
  }
}

@media only screen and (max-width: 420px) {
  .chatContainer {
    width: 100%;
    overflow-y: auto;
    font-family: "Lato", sans-serif;
    padding: 1.5rem 1rem 1rem 0.5rem;
  }
  .navLink {
    font-size: 1.8rem !important;
  }
  .icon-down {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .inputIconsleft > img,
  .inputIconsright > img,
  .feather,
  .icon-down {
    width: 2rem !important;
  }
}