.player__details {
	/* width: calc(100% + 30px); */
	display: flex;
	align-items: center;
	font-size: 1.5em;
	padding: 13px 0;
	width: 100%;
}

.player__details p {
	padding-left: 5px;
}

.player__details img {
	width: 40px;
}

.player__one {
	justify-content: flex-start;
}

.player__two {
	justify-content: flex-end;
}

.waiting_player_2_container {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
	margin-top: 3.5rem;
	padding-bottom: 3rem;
	padding-left: 1.2rem;
}

.waiting_player_2 {
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: #00b87c;
	font-style: italic;
}

.waiting_player_2:hover {
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: #00b87c;
	font-style: italic;
}
