.container__piececolor {
    display: grid;
    place-content: center;
    height: 100vh;
    background: #000000;
    color: #fff;
}
.head-container__piececolor{
     display: grid;
    place-content: center;
   
}

#outerellipse__piececolor,
.header__piececolor {
    position: relative;
    margin: 0 auto 30px auto;
}

#innerellipse__piececolor {
    position: absolute;
    top: 14%;
    left: 15%;
}

#logo__piececolor {
    position: absolute;
    top: 9%;
    left: 12%;
}

.line__piececolor {
    position: absolute;
    top: 50%;
    left: -65%;
}

.second__piececolor {
    position: absolute;
    top: 50%;
    left: 110%;
}

.components__piececolor {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.advance-button__piececolor{
    padding: 20px 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}