.btn_replay{
  padding: 1em 0.8em;
  font-size: 1.8em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
}

.btn_current {
  gap: 0.5em;
  background-color: #3d2f19;
}

.btn_back {
  background-color: #d6a863;
}

.btn_forward {
  gap: 0.2em;
  background-color: #d6a863;
}
