.sidebar{
    display: flex;
}

.board{
    width: 70%;
}

.chat-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 90vh;
    border: 2px solid gray;
    margin: 2rem;
}