.request-challenge-btn {
  background: #27AE60;
  border-radius: 3px;
  width: 197px;
  height: 41px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.exit-btn {
  width: 128px;
  height: 41px;
  border: 1px solid #B8003C;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: 16px;
  color: #B8003C;
  background: #FFFFFF;
  cursor: pointer;
}

.exit-button {
  border: 1px solid #E70B0B;
  /* box-sizing: border-box; */
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: #E70B0B;
  padding: 0;
  /* padding-right: 0; */
  /* padding: 1.5rem; */
  padding: 1.5rem 5rem;
  width: 100%;
  margin: 2rem 0;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.01em;
}

.exit-button:hover {
  background-color: transparent;
  background: #B8003C;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #fff;
}

.exit-button:after {
  content: "";
  background: #e70b0b88;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.exit-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.exit-button:focus {
  outline: 0;
}

.forfeit-button {
  color: #fff;
  background: #B8003C;
  border: none;
  /* background-attachment: fixed; */
}

.forfeit-button:focus, .forfeit-button:hover {
  background: #B8003C;
  /* border: 1px solid #B8003C; */
  opacity: 0.89;
}

.leave__button h3{
  display: none;
}

@media only screen and (max-width: 600px) {
  .leave__button h3{
    display: block;
    font-size: 15px;
    color: #E70B0B;
    cursor: pointer;
  }


  .exit_button{
    display: none;
  }

}