.btn {
  display: flex;
  align-items: center;
}

.button-1 {
  flex: 100%;
}
.button-2 {
  flex: 5%;
}
a {
  text-decoration: none;
}
.request-challenge-btn,
.exit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 3px;
  font-weight: bold !important;
}

.request-challenge-btn {
  padding: 1.5rem 3rem;
  background: #00b87c;
  cursor: pointer;
  text-decoration: none;
}

.exit-btn {
  width: 15rem;
  border: 0.19rem solid #b8003c;
  box-sizing: border-box;
  margin-left: 16px;
  color: #b8003c;
  background: #ffffff;
  cursor: pointer;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.exit-button {
  border: 1px solid #e70b0b;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: #e70b0b;
  padding: 0;
  padding: 1.5rem 5rem;
  width: 100%;
  /* margin: 2rem 0; */
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.01em;
}

.exit-button:hover {
  color: #fff;
  background-color: #e70b0b;
}

/* .exit-button:after {
  content: "";
  background: #e70b0b88;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
} */

/* .exit-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
} */

/* .exit-button:focus {
  outline: 0;
} */

.forfeit-button {
  color: #fff;
  background: #b8003c;
  border: none;
  /* background-attachment: fixed; */
}

.forfeit-button:focus,
.forfeit-button:hover {
  background: #b8003c;
  /* border: 1px solid #B8003C; */
  opacity: 0.89;
}

.leave__button h3 {
  display: none;
}

.waiting_player_2_container {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-top: 3.5rem;
  padding-bottom: 3rem;
  padding-left: 1.2rem;
}

.waiting_player_2 {
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #00b87c;
  font-style: italic;
}

.waiting_player_2:hover {
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: #00b87c;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .leave__button h3 {
    display: block;
    font-size: 15px;
    color: #e70b0b;
    cursor: pointer;
  }

  /* .exit_button_real{
    display: none;
  } */

  .btn {
    flex-direction: column;
  }

  .request-challenge-btn {
    width: 23rem;
    height: 48px;
    margin: 16px 0px;
    padding: 2rem;
  }

  .exit-btn {
    margin-left: 0;
    width: 23rem;
    height: 48px;
    margin-bottom: 16px;
  }
}
