.btn {
  display: flex;
  align-items: center;
}

.button-1 {
  flex: 100%;
}
.button-2 {
  flex: 5%;
}
a {
  text-decoration: none;
}
.request-challenge-btn,
.exit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 3px;
  font-weight: bold !important;
}

.request-challenge-btn {
  padding: 1.5rem 3rem;
  background: #00B87C;
  cursor: pointer;
  text-decoration: none;
}

.exit-btn { 
  width: 15rem;  
  border: .19rem solid #B8003C;
  box-sizing: border-box;
  margin-left: 16px;
  color: #B8003C;
  background: #FFFFFF;
  cursor: pointer;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  
}

.exit-button {
  border: 1px solid #E70B0B;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: #E70B0B;
  padding: 0;
  padding: 1.5rem 5rem;
  width: 100%;
  /* margin: 2rem 0; */
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.01em;
}

.exit-button:hover {
  color:#fff;
  background-color: #E70B0B;
}

/* .exit-button:after {
  content: "";
  background: #e70b0b88;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
} */

/* .exit-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
} */

/* .exit-button:focus {
  outline: 0;
} */

.forfeit-button {
  color: #fff;
  background: #B8003C;
  border: none;
  /* background-attachment: fixed; */
}

.forfeit-button:focus, .forfeit-button:hover {
  background: #B8003C;
  /* border: 1px solid #B8003C; */
  opacity: 0.89;
}

.leave__button h3{
  display: none;
}

@media only screen and (max-width: 600px) {
  .leave__button h3{
    display: block;
    font-size: 15px;
    color: #E70B0B;
    cursor: pointer;
  }


  .exit_button_real{
    display: none;
  }

  .btn {
    flex-direction: column;
  }

  .request-challenge-btn {
    width: 23rem;
    height: 48px;
    margin: 16px 0px;
    padding: 2rem;
}

.exit-btn { 
    margin-left: 0;
    width: 23rem;
    height: 48px;
    margin-bottom: 16px;
}

}