.forfeit-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: #000000e1;
}

.forfeit-modal{
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    width: 30vw;
    height: 55vh;
    padding: 80px 100px 60px 100px;
    border-radius: 3px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 49px 35px rgba(0, 0, 0, 0.0460133),
    0px 24.8165px 16.4998px rgba(0, 0, 0, 0.034856),
    0px 13.729px 8.167px rgba(0, 0, 0, 0.0269394),
    0px 7.56423px 3.94388px rgba(0, 0, 0, 0.0201337),
    0px 3.35772px 1.53069px rgba(0, 0, 0, 0.0128302);
    z-index: 1002;
}

.profile {
    width: 6vw;
    padding-bottom: 30px;
}

.forfeit-content-text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    line-height: 24px;
    padding-bottom: 32px;
    text-align: center;
}

.forfeit-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding: 1.2rem 5rem; 
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.cp button {
    text-align: center;
    height: 6vh;
    width: 12vw;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 3px;
    margin: 0 16px;
    padding: 7px 34px;
    box-sizing: border-box;
}

.ys button {
    height: 6vh;
    width: 8vw;
    background-color: #fff;
    border: 1px solid #b8003c;
    border-radius: 3px;
    margin: 0 10px;
    padding: 7px 34px;
    box-sizing: border-box;
}

.yes {
    color: #b8003c;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.continue {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}


@media (min-width: 1025px) and (max-width: 1440px) {

    .forfeit-modal {
        text-align: center;
        background-color: #fff;
        width: 28vw;
        height: 60vh;
        padding: 50px 50px;
        border-radius: 3px;
        box-shadow:  0px 100px 80px rgba(0, 0, 0, 0.07);
    }

    .forfeit-content-title {
        font-family: 'Lato', sans-serif;
        font-size: 1.25rem;
        font-weight: normal;
        color: #505050;
        line-height: 24px;
        padding-bottom: 30px;
    }

    .cp button {
        text-align: center;
        height: 6.5vh;
        width: 12.3vw;
        background-color: #27ae60;
        border: 1px solid #27ae60;
        border-radius: 3px;
        margin: 0 16px;
        padding: 7px 34px;
        box-sizing: border-box;
    }

    .ys button {
        height: 6.5vh;
        width: 8vw;
        background-color: #fff;
        border: 1px solid #b8003c;
        border-radius: 3px;
        margin: 0 10px;
        padding: 7px 34px;
        box-sizing: border-box;
    }

    .yes {
        color: #b8003c;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }

    .continue {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .forfeit-modal {
        text-align: center;
        background-color: #fff;
        width: 35vw;
        height: 55vh;
        padding: 40px 50px 80px 50px;
    }

    .forfeit-content-text {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 24px;
    }

    .cp button {
        width: 12.3vw;
        padding: 9px 4px;
    }
    .ys button {
        width: 10vw;
        padding: 9px 4px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .forfeit-modal {
        text-align: center;
        background-color: #fff;
        width: 40vw;
        height: 50vh;
        padding: 30px 70px 80px 70px;
    }

    .profile {
        width: 9vw;
    }
    .forfeit-content-text {
        font-size: 1.5rem;
        line-height: 27px;
    }

    .cp button {
        width: 15vw;
        padding: 9px 4px;
    }

    .ys button {
        width: 12vw;
        padding: 9px 4px;
    }

    .yes {
        font-size: 1.2rem;
        line-height: 17px;
    }

    .continue {
        font-size: 1.2rem;
        line-height: 17px;
    }
}

@media (min-width: 374px) and (max-width: 480px) {
    .forfeit-modal {
        width: 70vw;
        height: 47vh;
        padding: 30px 90px 100px;
    }

    .profile {
        width: 15vw;
    }

    .forfeit-content-text {
        font-size: 1.4rem;
        line-height: 20px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    .cp button {
        width: 29vw;
        padding: 9px 4px;
    }

    .ys button {
        width: 20vw;
        padding: 9px 4px;
    }
}

@media (min-width: 319px) and (max-width: 376px) {
    .forfeit-modal {
        width: 80vw;
        height: 45vh;
        padding: 30px 90px 70px;
    }

    .forfeit-content-text {
        font-size: 1.5rem;
        line-height: 17px;
    }

    .cp button {
        width: 33vw;
        padding: 9px 4px;
    }

    .ys button {
        width: 22vw;
        padding: 9px 4px;
    }
}
@media(max-width: 320px) {
    .forfeit-modal {
        width: 85vw;
        height: 47vh;
        padding: 30px 90px 95px;
    }
    .profile  {
        width: 20vw;
    }

    .forfeit-content-text {
        font-size: 1.5rem;
        line-height: 17px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    .cp button {
        width: 38vw;
        padding: 9px 6px;
    }

    .ys button {
        width: 25vw;
        padding: 9px 6px;
    }
}