header {
	background: #00b87c;
	color: white;
	height: 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-fixed {
	position: relative;
	top: 0;
	width: 100% ;
	height: 50px ;
}
.header-spaced {
	width: 100%;
	position: fixed;
	z-index: 1;
}

p{
	font-size: 1.5em;
}
.nav {
	display: flex;
	width: 97%;
	/* margin: auto; */
	align-items: center;
	flex-wrap: wrap;
}

#chesshome-flex {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

#chesshome-name {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.8em;
	padding: 0;
}

#chesshome-name > img{
	margin-top: 1px;
}

.arrow {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#arrow-button {
	background-color: transparent;
	padding: 0;
	margin: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}

.chesshome-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chesshome-headerRight {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.commentIcon {
	padding-right: 2rem;
	border-right: 3px solid white;
	display: none;
}

.chesshome-profileImg {
	position: relative;
	background: #01d892;
	border-radius: 4px;
	width: 105px;
	height: 30px;
	left: 0 !important;
	margin-left: 1.5rem;
}

.chesshome-profile {
	position: absolute;
	border-radius: 4px;
	top: 7%;
}

.chesshome-profile.profileOne {
	left: 2%;
	z-index: 1000;
}

.chesshome-profile.profileTwo {
	left: 19%;
	z-index: 500;
}

.chesshome-profile.profileThree {
	left: 35%;
}

.text-300 {
	position: absolute;
	top: 9%;
	right: 5%;
	font-weight: bold;
	z-index: 100;
	color: #fff;
}
