name: EsLint - Checking For Errors [Frontend]

# Triggers the workflow on pull requests
on:
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        # Make sure the actual branch is checked out when running on pull requests
        ref: ${{ github.head_ref }}
    
    - name: Change to Client Folder, Install yarn modules and Run ESLint
      run: 
      run: |
        cd client
        yarn install
        yarn run lint