@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.exit__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000 !important;
    background-color: rgba(0, 0, 0, 0.7);
}

.exit__modal{
    background-color: #ffffff;
     display: flex; 
    text-align: center;
    justify-content: center;
     flex-direction: column; 
     gap: 2rem;
    padding: 9.5rem 0rem;
    width: 35%;
    
    border-radius: 5px;
}

.exit__text{
    font-size: 18px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.exit__footer{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.exit__modal .profile {
    display: inline-block;
    width: 6vw;
    padding-bottom: 30px;
}

.exit__button{
    display: inline-block;
    background-color: transparent;
    border: 1px solid;
    border-radius: 2px;
    padding: 0;
     padding: 1.2rem 5rem; 
    font-size: 1.4rem;
    letter-spacing: 1px;
 }

.exit__button:hover{
    opacity: 0.8;
}

.exit__button--yes{
     background: rgba(184, 0, 60, 1);
    border-color: rgba(184, 0, 60, 1);
    color: #ffffff;
}

.exit__button--yes:hover,
.exit__button--yes:focus{
    background: transparent;
    color: black;
    
}

.exit__button--no{
    color: black;
    border-color: rgba(39, 174, 96, 1);
}

.exit__button--no:hover,
.exit__button--no:focus{
    background:  rgba(39, 174, 96, 1);
    color: #fff;
}

@media (max-width: 1025px) and (max-width: 1440px) {   
.exit__modal{
    width: 50%;
}
}

@media (max-width: 769px) and (max-width: 1024px) {
    .exit__modal{
        width: 80%;
    }

}

@media (max-width: 420px) and (max-width: 480px) {
     .exit__modal {
         width: 90%;
        }
}